<template>
    <div>
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input" v-model="name">
            </div>
        </div>

        <div class="field">
            <label class="label">Price</label>
            <div class="control">
                <input class="input" type="number" placeholder="Text input" v-model="price">
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" @click="addProduct">Add</button>
            </div>
            <div class="control">
                <router-link to="/" class="button is-info">Back</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                name:'',
                price:'',
            }
        },
        mounted(){

        },
        methods:{
            addProduct(){
                let vm = this;
                axios.post('/product', {
                    name: vm.name,
                    price: vm.price
                })
                    .then((response) => {
                        if(response.status === 200){
                            window.history.back();
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
        }
    }
</script>
