<div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col" @click="orderBy('id')" class="cursor">ID <i class="fa" :class="[(idIconClass) ? 'fa-arrow-down' : 'fa-arrow-up' ]" aria-hidden="true"></i></th>
                <th scope="col" @click="orderBy('name')" class="cursor">Product Name</th>
                <th scope="col" @click="orderBy('price')" class="cursor">Price</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <th scope="col">
                    <div class="field">
                        <div class="control">
                            <div class="select">
                                <select v-model="limit" @change="getProducts(true)">
                                    <option selected>5</option>
                                    <option>10</option>
                                    <option>15</option>
                                    <option>30</option>
                                    <option>50</option>
                                    <option value="10000">All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <input class="input is-rounded" type="text" v-model="searchString" @keyup="searchProducts()" placeholder="Search">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(product, index) in products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <button class="button is-primary" @click="passEditData(product, index)">Edit</button>
                </td>
                <td>
                    <button class="button is-danger" @click="passDeleteData(product, index)">Delete</button>
                </td>
            </tr>
            <div v-show="result">
                No Result
            </div>
        </tbody>
    </table>

    <div v-show="isVisible" class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Modal title</p>
                <button class="delete" aria-label="close" @click="isVisible = false"></button>
            </header>
            <section class="modal-card-body">
                Are you Sure?
            </section>
            <footer class="modal-card-foot">
                <button class="button is-danger" @click="deleteProduct(id,index)">Yes</button>
                <button class="button" @click="isVisible = false">Cancel</button>
            </footer>
        </div>
    </div>

    <div v-show="visibleEdit" class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Modal title</p>
                <button class="delete" aria-label="close" @click="visibleEdit = false"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" v-model="name">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Price</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="Text input" v-model="price">
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" @click="editProduct(id,index)">Edit</button>
                    </div>
                    <div class="control">
                        <button class="button is-text" @click="visibleEdit = false">Cancel</button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div class="pagination">
        <button class="btn btn-default" id="prev" @click="fetchPaginateProducts(pagination.prev_page_url)" :disabled="!pagination.prev_page_url">
            Previous
        </button>
        <span> Page {{ pagination.current_page }} of {{ pagination.last_page }}</span>
        <button class="btn btn-default" @click="fetchPaginateProducts(pagination.next_page_url)" :disabled="!pagination.next_page_url">
            Next
        </button>
    </div>
</div>